.profile-image {
  width: 120px; /* Decrease the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px;
  border-radius: 50%; /* Makes the image round */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

header {
  background-color: #4CAF50;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
}

header p {
  margin: 5px 0;
}

header a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

section {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  margin-top: 0;
}

.job ul {
  padding-left: 20px;
}

.project {
  margin-bottom: 10px;
}

.project h3 {
  margin-top: 0;
}

.extra-curricular,
.leadership {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@keyframes loadingAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.App {
  background: linear-gradient(-45deg, #ff00ff, #00ffff, #ffff00, #ff00ff);
  background-size: 400% 400%;
  animation: loadingAnimation 15s ease infinite;
  position: relative;
  overflow: hidden;
  padding: 20px; /* Add padding to the entire container */
}
#objective {
  background-color: #e0e0e0; /* Light grey background */
  padding: 20px;
}

#education {
  background-color: #d6d6d6; /* Light grey background */
  padding: 20px;
}

#skills {
  background-color: #cccccc; /* Light grey background */
  padding: 20px;
}

#experience {
  background-color: #c0c0c0; /* Light grey background */
  padding: 20px;
}

.job {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #999999; /* Dark grey border */
  border-radius: 5px;
}

#projects {
  background-color: #b5b5b5; /* Light grey background */
  padding: 20px;
}

.project {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #999999; /* Dark grey border */
  border-radius: 5px;
}

#extra-curricular {
  background-color: #aaaaaa; /* Light grey background */
  padding: 20px;
}

#leadership {
  background-color: #999999; /* Light grey background */
  padding: 20px;
}
